<div class="card-body overflow-auto flex-grow-1 w-100 bg-white company-diafora-scroll-container" id="cardBody6">
    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-4 right-align">
            <label for="oikodomika" class="col-form-label label-font-size"
                >Η εταιρεία εκτελεί οικοδομικά έργα</label
            >
        </div>
        <div class="col-1 left-align checkbox-flex-center">
            <input
                type="checkbox"
                class="form-check-input custom-checkbox checkbox-class"
                id="oikodomika"
                name="oikodomika"
                value=""
            />
            <label for="oikodomika" class="margin-left-0_75rem fw600" id="label-oikodomika"
                >ΟΧΙ</label
            >
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-4 right-align">
            <label for="doropasxa_apd" class="col-form-label label-font-size"
                >Το Δώρο Πάσχα θα εμφανίζεται στην τρέχουσα ΑΠΔ</label
            >
        </div>
        <div class="col-1 left-align checkbox-flex-center">
            <input
                type="checkbox"
                class="form-check-input custom-checkbox checkbox-class"
                id="doropasxa_apd"
                name="doropasxa_apd"
                value=""
            />
            <label for="doropasxa_apd" class="margin-left-0_75rem fw600" id="label-doropasxa_apd"
                >ΟΧΙ</label
            >
        </div>
        <!-- </div>

    <div class="row form-group g-3 align-items-center mb-0-5"> -->
        <div class="col-4 right-align">
            <label for="doroxrist_apd" class="col-form-label label-font-size"
                >Το Δώρο Χριστουγέννων θα εμφανίζεται στην τρέχουσα ΑΠΔ</label
            >
        </div>
        <div class="col-1 left-align checkbox-flex-center">
            <input
                type="checkbox"
                class="form-check-input custom-checkbox checkbox-class"
                id="doroxrist_apd"
                name="doroxrist_apd"
                value=""
            />
            <label for="doroxrist_apd" class="margin-left-0_75rem fw600" id="label-doroxrist_apd"
                >ΟΧΙ</label
            >
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-4 right-align">
            <label for="apasxolhsh_kata_tis_argies" class="col-form-label label-font-size"
                >Επιτρέπεται η λειτουργία της εταιρείας κατά τις Κυριακές - Αργίες</label
            >
        </div>
        <div class="col-1 left-align checkbox-flex-center">
            <input
                type="checkbox"
                class="form-check-input custom-checkbox checkbox-class"
                id="apasxolhsh_kata_tis_argies"
                name="apasxolhsh_kata_tis_argies"
                value=""
            />
            <label
                for="apasxolhsh_kata_tis_argies"
                id="label-apasxolhsh_kata_tis_argies"
                class="input-content margin-left-0_75rem fw600"
                >ΟΧΙ</label
            >
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-4 right-align">
            <label
                for="apousies_epireazoun_asfalistikes_hmeres"
                class="col-form-label label-font-size"
                >Οι απουσίες επηρεάζουν τις ασφαλιστικές ημέρες</label
            >
        </div>
        <div class="col-1 left-align checkbox-flex-center">
            <input
                type="checkbox"
                class="form-check-input custom-checkbox checkbox-class"
                id="apousies_epireazoun_asfalistikes_hmeres"
                name="apousies_epireazoun_asfalistikes_hmeres"
                value=""
            />
            <label
                for="apousies_epireazoun_asfalistikes_hmeres"
                id="label-apousies_epireazoun_asfalistikes_hmeres"
                class="input-content margin-left-0_75rem fw600"
                >ΟΧΙ</label
            >
        </div>
        <div class="col-4 right-align">
            <label
                for="leitoyrgia_stis_mh_ypoxreotikes_argies"
                class="col-form-label label-font-size"
                >Λειτουργία κατά τις μη υποχρεωτικές αργίες</label
            >
        </div>
        <div class="col-1 left-align checkbox-flex-center">
            <input
                type="checkbox"
                class="form-check-input custom-checkbox checkbox-class"
                id="leitoyrgia_stis_mh_ypoxreotikes_argies"
                name="leitoyrgia_stis_mh_ypoxreotikes_argies"
                value=""
            />
            <label
                for="leitoyrgia_stis_mh_ypoxreotikes_argies"
                id="label-leitoyrgia_stis_mh_ypoxreotikes_argies"
                class="input-content margin-left-0_75rem fw600"
                >ΟΧΙ</label
            >
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-4 right-align">
            <label
                for="ypologismos_epi_pragmatikoy_oromisthioy"
                class="col-form-label label-font-size"
                >Υπολογισμός Προσαυξήσεων επί Πραγματικού Ωρομισθίου</label
            >
        </div>
        <div class="col-1 left-align checkbox-flex-center">
            <input
                type="checkbox"
                class="form-check-input custom-checkbox checkbox-class"
                id="ypologismos_epi_pragmatikoy_oromisthioy"
                name="ypologismos_epi_pragmatikoy_oromisthioy"
                value=""
            />
            <label
                for="ypologismos_epi_pragmatikoy_oromisthioy"
                id="label-ypologismos_epi_pragmatikoy_oromisthioy"
                class="input-content margin-left-0_75rem fw600"
                >ΟΧΙ</label
            >
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-4 right-align">
            <label
                for="apoysies_meionoyn_apodoxes"
                class="col-form-label label-font-size"
                >Οι απουσίες μειώνουν τις αποδοχές</label
            >
        </div>
        <div class="col-1 left-align checkbox-flex-center">
            <input
                type="checkbox"
                class="form-check-input custom-checkbox checkbox-class"
                id="apoysies_meionoyn_apodoxes"
                name="apoysies_meionoyn_apodoxes"
                value=""
            />
            <label
                for="apoysies_meionoyn_apodoxes"
                id="label-apoysies_meionoyn_apodoxes"
                class="input-content margin-left-0_75rem fw600"
                >ΟΧΙ</label
            >
        </div>
    </div>

    <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
        <div class="col-4 right-align">
            <label for="hmeromhnia_payshs_polyetias_apo" class="col-form-label font-size-vw-0_72">
                Περίοδος "Παγώματος" Ωρίμανσης Πολυετίας: ΑΠΟ
            </label>
        </div>
        <div class="col-1-5">
            <input
                type="date"
                name="hmeromhnia_payshs_polyetias_apo"
                id="hmeromhnia_payshs_polyetias_apo"
                class="date-control"
                value="2012-02-14"
            />
        </div>

        <div class="col-1 right-align">
            <label for="hmeromhnia_payshs_polyetias_eos" class="col-form-label font-size-vw-0_72">
                ΕΩΣ
            </label>
        </div>
        <div class="col-1-5">
            <input
                type="date"
                name="hmeromhnia_payshs_polyetias_eos"
                id="hmeromhnia_payshs_polyetias_eos"
                class="date-control"
                value="2023-03-31"
            />
        </div>
    </div>

    <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
        <div class="col-4 right-align">
            <label
                for="xronos_epitrepomenhs_proorhs_apoxorhshs_se_lepta"
                class="col-form-label font-size-vw-0_72"
            >
                Ανεκτός χρόνος πρόωρης αποχώρησης από την εργασία σε λεπτά που δεν λογίζεται σαν
                απουσία.
            </label>
        </div>
        <div class="col-1-5">
            <input
                type="number"
                name="xronos_epitrepomenhs_proorhs_apoxorhshs_se_lepta"
                id="xronos_epitrepomenhs_proorhs_apoxorhshs_se_lepta"
                class="form-control input-contents right-align"
                value="0"
            />
        </div>
    </div>

    <div
        class="row form-group align-items-start margin-left--1rem margin-right--1rem margin-top--0_5rem"
    >
        <div class="col-4 right-align">
            <label
                for="tropos_ypologismoy_pragmatikoy_oromisthioy"
                class="col-form-label font-size-vw-0_72"
            >
                Υπολογισμός Πραγματικού Ωρομισθίου σε περίπτωση Extra Αποδοχών
            </label>
        </div>

        <div class="col-4 left-align d-flex align-items-start">
            <input
                type="radio"
                class="form-check-input custom-checkbox checkbox-class margin-top-0_25rem"
                id="actual_plus_extra"
                name="tropos_ypologismoy_pragmatikoy_oromisthioy"
                value="actual_plus_extra"
                checked
            />
            <label
                for="actual_plus_extra"
                id="label-actual_plus_extra"
                class="input-content margin-left-0_75rem font-size-vw-0_75 font-weight-500"
            >
                Επί των πραγματικών αποδοχών βάσει ωρών εργασίας + Extra Αποδοχές
            </label>
        </div>

        <div class="col-4 left-align d-flex align-items-start">
            <input
                type="radio"
                class="form-check-input custom-checkbox checkbox-class margin-top-0_25rem"
                id="full_legal_plus_extra"
                name="tropos_ypologismoy_pragmatikoy_oromisthioy"
                value="full_legal_plus_extra"
            />
            <label
                for="full_legal_plus_extra"
                id="label-full_legal_plus_extra"
                class="input-content margin-left-0_75rem font-size-vw-0_75 font-weight-500"
            >
                Επί του συνολικού νόμιμου μισθού πλήρους απασχόλησης + Extra Αποδοχές
            </label>
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-4 right-align">
            <label for="keimeno_exoflhshs" class="col-form-label label-font-size"
                >Κείμενο Εξοφλητικής Απόδειξης</label
            >
        </div>
        <div class="col-8">
            <textarea
                class="form-control textarea-content use-default-enter height-vh-12"
                name="keimeno_exoflhshs"
                id="keimeno_exoflhshs"
                cols="30"
                rows="4"
            >
Έλεγξα τις αποδοχές και τις κρατήσεις της παρούσας ατομικής εκκαθάρισης και αφού διαπίστωσα ότι είναι οι πραγματικές, αποδέχομαι χωρίς καμία επιφύλαξη την παρούσα ατομική εκκαθάριση μισθοδοσίας. Μετά την καταβολή του παραπάνω αναγραφόμενου πληρωτέου ποσού (μέσω Τράπεζας και στο ΙΒΑΝ που έχω δηλώσει στην εταιρεία / επιχείρηση), δεν έχω καμία άλλη αξίωση από την προαναφερόμενη εταιρεία / επιχείρηση.</textarea
            >
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-1">
        <div class="col-4 right-align">
            <label for="selectedUsers" class="col-form-label label-font-size field-required"
                >Επιλογή Χρηστών που έχουν πρόσβαση στην εταιρεία</label
            >
        </div>
        <div class="col-4">
            <select
                class="form-select selectpicker-dropdown-normal height-rem-8"
                data-live-search="true"
                name="selectedUsers"
                id="selectedUsers"
                multiple
            ></select>
        </div>

        <div class="col-2">
            <label class="col-form-label font-size-vw-0_65"
                >Επιλογή πολλών χρηστών με Ctrl + click</label
            >
        </div>

        <div class="col-2">
            <button
                type="button"
                id="select-all"
                class="btn btn-brown rounded-4 buttons-contents mt-2 w-100"
            >
                <i class="bi bi-check2-all"></i> Επιλογή Όλων
            </button>
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-2">
        <div class="col-4 right-align">
            <label class="col-form-label label-font-size"
                >Επιλογή σφραγίδας-υπογραφής εταιρείας-εκπροσώπου</label
            >
        </div>

        <!-- <form id="upload-form" enctype="multipart/form-data"> -->
        <div class="col-6 left-align">
            <button
                type="button"
                id="customButton"
                class="btn btn-brown rounded-4 buttons-content w-40"
                data-bs-title="Πριν επιλέξετε την εικόνα βεβαιωθείτε ότι την έχετε προηγουμένως αποθηκεύσει σαν sfragida.png στον φάκελο C:\stamps και μετά αναζητήστε την στον προαναφερόμενο φάκελο και επιλέξτε την..."
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                data-bs-container="body"
                data-tooltip-max-width="15vw"
            >
                <i class="bi bi-cloud-arrow-up"></i>
                Επιλέξτε Αρχείο
            </button>

            <!-- Πραγματικό input πεδίο, κρυμμένο -->
            <label for="sfragida" class="sr-only">Ανέβασμα σφραγίδας εταιρείας</label>
            <input
                type="file"
                id="sfragida"
                name="sfragida"
                accept="image/*"
                class="display-none"
            />
            <img
                id="preview-image"
                class="preview-image-style"
                alt="Προεπισκόπηση σφραγίδας εταιρείας"
                data-bs-title="Προεπισκόπηση σφραγίδας"
            />
        </div>
        <!-- </form> -->
        <div class="col-2">
            <button
                type="button"
                id="clear-image"
                class="btn btn-brown rounded-4 buttons-contents w-100"
            >
                <i class="bi bi-eraser"></i> Καθαρισμός
            </button>
        </div>
    </div>
</div>
