<div class="footer fs0_75vw z-index">
    <div class="footer-content d-flex align-items-center text-white w-100">
        <div id="version" class="text-start margin-left--0_2rem">
            <% if (isProduction) { %>
                <small class="d-flex align-items-center gap-1">
                    <span class="badge-success">
                        <i class="bi bi-check-circle"></i> PROD
                    </span>
                    <span class="opacity-75">v<%= appVersion %></span>
                </small>
            <% } else { %>
                <small class="d-flex align-items-center gap-1">
                    <span class="badge-warning">
                        <i class="bi bi-tools"></i> DEV
                    </span>
                    <span class="opacity-75">v<%= appVersion %></span>
                </small>
            <% } %>
        </div>
    
        <div class="footer-center text-center mx-auto">
            © 2009 - <%= new Date().getFullYear(); %> Copyright:
            <a class="text-white fs0_75vw" href="/">
                www.<span class="highlight-letter">W</span>eb<span class="highlight-letter">P</span>ayroll<span class="highlight-letter">S</span>olutions.com
            </a>

            <span>
                &nbsp; Ιωλκού 266α Βόλος &nbsp; &nbsp;
                <i class="bi bi-telephone"></i> 2421056825 &nbsp; &nbsp;
                <i class="bi bi-phone"></i> 6972012650 &nbsp; &nbsp;
                <span>
                    <i class="bi bi-envelope"></i> support@<span class="highlight-letter">W</span>eb<span class="highlight-letter">P</span>ayroll<span class="highlight-letter">S</span>olutions.com
                </span>
            </span>
        </div>

        <!-- Clickable Remaining Time Badge -->
        <div id="remaining-time" class="ms-auto text-end cwhite font-size-vw-0_75 badge bg-warning text-dark margin-right--0_75rem remaining-time-badge">
            60:00
        </div>
    </div>
</div>

<script src="<%= script('common/countdown') %>"></script>