# Κλειδιά και διαπιστευτήρια
*.pem
.env
.env.production
.aws/

# Uploaded files
uploads/
!uploads/.gitkeep

# Παραγόμενα αρχεία και φακέλοι
public/json/*.json
public/pdf/*.pdf
public/xlsx/*.xlsx
public/xml/*.xml
node_modules/
