<div class="card-header mb-2">
    <label class="text-center headers-content">
        Α π α σ χ ο λ ή σ ε ι ς
    </label>
</div>

<div class="row form-group g-3 align-items-center apx-csp-style-013">
    <div class="col-1-4 right-align">
        <label for="selectEmployes" class="col-form-label label-font-size-smaller">
        Επιλογή Εργαζομένων
        </label>
    </div>
    <div class="col-1-5 left-align checkbox-flex-center">
        <input type="checkbox" class="form-check-input custom-checkbox checkbox-class notCleared apx-csp-mt-n-02" id="selectEmployes" name="selectEmployes" value="" checked />
        <label for="selectEmployes" id="label-selectEmployes" class="apx-csp-style-014">
        ΕΝΕΡΓΟΙ
        </label>
    </div>
    <input type="hidden" id="energoi" name="energoi" value="true" class="notCleared" />

    <div class="col-1 right-align apasxolhseis-ypokatasthma-label-col">
        <label for="ypokatasthma" class="col-form-label label-font-size-smaller">
        Υποκατ/μα
        </label>
    </div>
    <div class="col-1-4-5 mt-14px apasxolhseis-ypokatasthma-col"> 
        <select
            class="selectpicker-dropdown-small notCleared apasxolhseis-ypokatasthma-select"
            name="ypokatasthma"
            id="ypokatasthma"
            data-api="/api/dropdown/ergazomenoi/ypokatasthma"
            data-team-related="true"
            data-company-related="true"
            data-preload-all="true"
            data-placeholder="ΟΛΑ..."
            placeholder="ΟΛΑ..."
            data-pad-length="4">
            <option value="" selected>ΟΛΑ...</option>
        </select>
    </div>

    <div class="col-0-5"></div>

    <div class="col-1 right-align apx-csp-style-015">
        <label for="ergazomenos_kin" class="col-form-label label-font-size-smaller field-required hover-label">
        Εργαζόμενος <i class="bi bi-info-circle-fill apx-csp-style-016"></i>
        </label>

        <div id="hoverModal" class="hover-modal">
            <div class="modal-header col-12">
                <h3>Πληροφορίες Εργαζομένου</h3>
            </div>

            <hr class="hr-style-1 apx-csp-style-017" />
            
            <div class="modal-content">
                <div class="modal-item d-flex">
                    <div class="col-4 apx-csp-style-018" >
                        <label>Κωδικός</label>
                    </div>
                    <div class="col-8 modal-item-value apx-csp-style-019" id="value1"></div>
                </div>
            </div>
            <div class="modal-content apx-csp-style-020">
                <div class="modal-item d-flex">
                    <div class="col-4 apx-csp-style-018" >
                        <label>Ημ/νία Πρόσληψης</label>
                    </div>
                    <div class="col-8 modal-item-value apx-csp-style-019" id="value2"></div>
                </div>
            </div>
            <div class="modal-content apx-csp-style-020">
                <div class="modal-item d-flex">
                    <div class="col-5 apx-csp-style-018" >
                        <label>Ημ/νία Λήξης Σύμβασης</label>
                    </div>
                    <div class="col-7 modal-item-value apx-csp-style-019" id="value3"></div>
                </div>
            </div>
            <div class="modal-content apx-csp-style-020">
                <div class="modal-item d-flex">
                    <div class="col-4 apx-csp-style-018" >
                        <label>Ημ/νία Αποχώρησης</label>
                    </div>
                    <div class="col-8 modal-item-value apx-csp-style-019" id="value4"></div>
                </div>
            </div>
            <div class="modal-content apx-csp-style-020">
                <div class="modal-item d-flex">
                    <div class="col-6 apx-csp-style-018" >
                        <label>Χαρακτηρισμός Εργαζόμενου</label>
                    </div>
                    <div class="col-6 modal-item-value apx-csp-style-019" id="value5"></div>
                </div>
            </div>
            <div class="modal-content apx-csp-style-020">
                <div class="modal-item d-flex">
                    <div class="col-6 apx-csp-style-018" >
                        <label>Οικογενειακή Κατάσταση</label>
                    </div>
                    <div class="col-6 modal-item-value apx-csp-style-019" id="value6"></div>
                </div>
            </div>
            <div class="modal-content apx-csp-style-020">
                <div class="modal-item d-flex">
                    <div class="col-4 apx-csp-style-018" >
                        <label>Αριθμός Παιδιών</label>
                    </div>
                    <div class="col-8 modal-item-value apx-csp-style-019" id="value7"></div>
                </div>
            </div>
            <div class="modal-content apx-csp-style-020">
                <div class="modal-item d-flex">
                    <div class="col-4 apx-csp-style-018" >
                        <label>Τύπος Εργαζόμενου</label>
                    </div>
                    <div class="col-8 modal-item-value apx-csp-style-019" id="value8"></div>
                </div>
            </div>
            <div class="modal-content apx-csp-style-020">
                <div class="modal-item d-flex">
                    <div class="col-5 apx-csp-style-018" >
                        <label>Καθεστώς Απασχόλησης</label>
                    </div>
                    <div class="col-7 modal-item-value apx-csp-style-019" id="value9"></div>
                </div>
            </div>
            <div class="modal-content apx-csp-style-020">
                <div class="modal-item d-flex">
                    <div class="col-4 apx-csp-style-018" >
                        <label>Σχέση Εργασίας</label>
                    </div>
                    <div class="col-8 modal-item-value apx-csp-style-019" id="value10"></div>
                </div>
            </div>
            <div class="modal-content apx-csp-style-020">
                <div class="modal-item d-flex">
                    <div class="col-9 apx-csp-style-018" >
                        <label>Ώρες Εβδομαδιαίας Απασχόλησης</label>
                    </div>
                    <div class="col-3 modal-item-value apx-csp-style-019" id="value11"></div>
                </div>
            </div>
            <div class="modal-content apx-csp-style-020">
                <div class="modal-item d-flex">
                    <div class="col-9 apx-csp-style-018" >
                        <label>Ημέρες Εβδομαδιαίας Απασχόλησης</label>
                    </div>
                    <div class="col-3 modal-item-value apx-csp-style-019" id="value12"></div>
                </div>
            </div>
            <div class="modal-content apx-csp-style-020">
                <div class="modal-item d-flex">
                    <div class="col-9 apx-csp-style-018" >
                        <label>Παλιός / Νέος Ασφαλισμένος</label>
                    </div>
                    <div class="col-3 modal-item-value apx-csp-style-019" id="value13">
                    </div>
                </div>
            </div>

            <hr class="hr-style-2 apx-csp-style-021" />

            <div class="modal-content apx-csp-style-020">
                <div class="modal-item d-flex">
                    <div class="col-9 apx-csp-style-022" >
                        <label>Καθαρός Ετήσιος Συμφωνηθείς Μισθός</label>
                    </div>
                    <div class="col-3 modal-item-value apx-csp-style-019" id="value14">
                    </div>
                </div>
            </div>
            <div class="modal-content apx-csp-style-020">
                <div class="modal-item d-flex">
                    <div class="col-9 apx-csp-style-022" >
                        <label>Καθαρός Μηνιαίος Συμφωνηθείς Μισθός</label>
                    </div>
                    <div class="col-3 modal-item-value apx-csp-style-019" id="value15">
                    </div>
                </div>
            </div>
            <div class="modal-content apx-csp-style-020">
                <div class="modal-item d-flex">
                    <div class="col-9 apx-csp-style-022" >
                        <label>Πακέτο</label>
                    </div>
                    <div class="col-3 modal-item-value apx-csp-style-019" id="value16">
                    </div>
                </div>
            </div>
            <div class="modal-content apx-csp-style-020">
                <div class="modal-item d-flex">
                    <div class="col-9 apx-csp-style-022" >
                        <label>Μηνιαία Ρεπό</label>
                    </div>
                    <div class="col-3 modal-item-value apx-csp-style-019" id="value17">
                    </div>
                </div>
            </div>
        </div>    

        <!-- Modal -->
        <input type="hidden" id="kodikos_hidden" value="" />
        <input type="hidden" id="hmeromhnia_proslhpshs_hidden" value="" />
        <input type="hidden" id="hmeromhnia_lhxhs_symbashs_hidden" value="" />
        <input type="hidden" id="hmeromhnia_apoxorhshs_hidden" value="" />

    </div>

    <div class="col-4-4 mt-14px apasxolhseis-ergazomenos-col"> 
        <select
            class="selectpicker-dropdown-small notCleared apasxolhseis-ergazomenos-select"
            name="ergazomenos_kin"
            id="ergazomenos_kin"
            data-api="/api/dropdown/kinhseis/apasxolhseis/ergazomenoi"
            data-team-related="true"
            data-company-related="true"
            data-extra-filter="energoi"
            data-extra-filter2="ypokatasthma"
            data-extra-filter2-src="ypokatasthma_Hidden"
            data-preload-all="true"
            data-placeholder="Επιλέξτε εργαζόμενο"
            placeholder="Επιλέξτε εργαζόμενο"
            data-pad-length="4">
        </select>
    </div>

    <div class="col-0-3"></div>

    <div class="col-0-3">
        <button type="button" class="btn btn-green buttons-content label-font-size-smaller ml-n-1-0-6" id="prevButton" data-bs-toggle="tooltip" data-bs-title="Προηγούμενη εγγραφή" data-bs-placement="bottom"><i class="bi bi-chevron-up"></i></button>
    </div>
    <div class="col-0-3">
        <button type="button" class="btn btn-green buttons-content label-font-size-smaller ml-n-0-0-4" id="nextButton" data-bs-toggle="tooltip" data-bs-title="Επόμενη εγγραφή" data-bs-placement="bottom"><i class="bi bi-chevron-down"></i></button>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-outline-secondary btn-sm label-font-size-smaller" id="generateWorkFactsSnapshotButton" data-bs-toggle="tooltip" data-bs-title="Δημιουργία snapshot για τον τρέχοντα εργαζόμενο και περίοδο" data-bs-placement="bottom">
            <i class="bi bi-database-check"></i> Snapshot περιόδου
        </button>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-outline-warning btn-sm label-font-size-smaller" id="generateBatchWorkFactsSnapshotsButton" data-bs-toggle="tooltip" data-bs-title="Limited batch snapshots για έως 5 εργαζόμενους της περιόδου" data-bs-placement="bottom">
            <i class="bi bi-database-check"></i> Snapshots έως 5
        </button>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-outline-primary btn-sm label-font-size-smaller <%= (!userPrivileges.admin && !userPrivileges.update && !userPrivileges.create) ? 'disabled-link' : '' %>" id="generateAllWorkFactsSnapshotsJobButton" data-allowed="<%= (userPrivileges.admin || userPrivileges.update || userPrivileges.create) ? '1' : '0' %>" data-bs-toggle="tooltip" data-bs-title="Batch snapshots για όλους τους eligible εργαζόμενους της περιόδου με progress" data-bs-placement="bottom">
            <i class="bi bi-database-check"></i> Snapshots όλα
        </button>
    </div>
</div>

<div class="row form-group g-3 align-items-center mb-3 apx-csp-style-023">

    <div class="col-1 right-align apx-csp-style-024">
        <label for="typosApodoxon" class="col-form-label fsrem-72 field-required">
        Τύπος Αποδοχών</label>
    </div>
    <div class="col-2 mt-14px">
        <select
            class="selectpicker-dropdown-small notCleared apasxolhseis-typos-apodoxon-select"
            name="typosApodoxon"
            id="typosApodoxon"
            data-api="/api/dropdown/kinhseis/apasxolhseis/typoiApodoxon"
            data-team-related="true"
            data-company-related="true"
            data-preload-all="true"
            data-preselect="typ_apod"
            data-placeholder="Επιλέξτε τύπο αποδοχών"
            placeholder="Επιλέξτε τύπο αποδοχών">
        </select>
    </div>

    <div class="col-0-25"></div>

    <div class="col-0-6 right-align apx-csp-style-025">
        <label for="periodos" class="col-form-label label-font-size-smaller field-required">
        Περίοδος</label>
    </div>
    <div class="col-1-5 mt-14px">
        <select
            class="selectpicker-dropdown-small notCleared apasxolhseis-periodos-select"
            name="periodos"
            id="periodos"
            data-api="/api/dropdown/periodoi"
            data-extra-filter2="xrhsh"
            data-extra-filter2-src="etos"
            data-preload-all="true"
            data-preselect="mhnas"
            data-placeholder="Επιλέξτε περίοδο"
            placeholder="Επιλέξτε περίοδο">
        </select>
    </div>

    <div class="col-0-1-6"></div>

    <div class="col-1-2 right-align apx-csp-style-026">
        <label for="aaMisthodosias" class="col-form-label label-font-size-smaller field-required">
        α/α Mισθοδοσίας</label>
    </div>
    <div class="col-0-7 mt-2">
        <input type="number" class="form-control1 input-contents mt-2 notCleared apx-csp-style-027" name="aaMisthodosias" id="aaMisthodosias" min="1" max="9" value="1"></input>
    </div>

    <div class="col-1 right-align">
        <label for="exoflhsh" class="col-form-label label-font-size-larger apx-csp-style-028">
            ΕΞΟΦΛΗΣΗ
        </label>
    </div>
    <div class="col-1 mt-2">
        <select class="form-select selectpicker-dropdown-small mt-2" data-live-search="true" name="exoflhsh" id="exoflhsh">
            <option value="0">ΝΑΙ</option>
            <option value="1">ΟΧΙ</option>
            <option value="2">ΕΝΑΝΤΙ</option>
        </select>
    </div>
    <div class="col-1 right-align">
        <label for="poso_plhromhs" class="col-form-label label-font-size-smaller">
        Ποσό Πληρωμής
        </label>
    </div>
    <div class="col-1-1-7-0">
        <input type="number" class="form-control1 input-contents right-align no-spin apx-csp-style-029" name="poso_plhromhs" id="poso_plhromhs" min="0"  value="0" />
    </div>

</div>
<hr class="hr-style-4" />
