<div class="card-header mb-2">
    <label class="text-center headers-content">
        Α π α σ χ ο λ ή σ ε ι ς
    </label>
</div>

<div class="row d-flex form-group g-3 align-items-center" style="margin-top: -1.2rem; margin-bottom: 1.5rem;">
    <div class="col-1-4 right-align">
        <label for="selectEmployes" class="col-form-label label-font-size-smaller">
        Επιλογή Εργαζομένων
        </label>
    </div>
    <div class="col-1-5 left-align checkbox-flex-center">
        <input type="checkbox" class="form-check-input custom-checkbox checkbox-class notCleared" id="selectEmployes" name="selectEmployes" value="" checked/>
        <label for="selectEmployes" id="label-selectEmployes" style="margin-left: 0.7rem; font-size: 0.7vw; font-weight: 700;">
        ΜΟΝΟ ΟΙ ΕΝΕΡΓΟΙ
        </label>
    </div>

    <div class="col-1 right-align" style="margin-left: 0.3rem;">
        <label for="ypokatasthma" class="col-form-label label-font-size-smaller">
        Υποκατάστημα
        </label>
    </div>
    <div class="col-1-4-5 mt-2"> 
        <select class="form-select selectpicker-dropdown-small mt-2 notCleared" data-live-search="true" name="ypokatasthma" id="ypokatasthma" style="margin-left: 0.7rem;" value=''>
        </select>
    </div>

    <div class="col-1 right-align" style="position: relative;">
        <label for="ergazomenos_kin" class="col-form-label label-font-size-smaller field-required hover-label">
        Εργαζόμενος <i class="bi bi-info-circle-fill" style="font-size: .7rem; color: var(--info)"></i>
        </label>

        <div id="hoverModal" class="hover-modal">
            <div class="modal-header col-12">
                <h3>Πληροφορίες Εργαζομένου</h3>
            </div>

            <hr class="hr-style-1" style="margin-left: -1rem !important; margin-right: -1rem !important;" />
            
            <div class="modal-content">
                <div class="modal-item d-flex">
                    <div class="col-4" style="text-align: left;" >
                        <label>Κωδικός</label>
                    </div>
                    <div class="col-8 modal-item-value" id="value1" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
                </div>
            </div>
            <div class="modal-content" style="margin-top: -0.4rem;">
                <div class="modal-item d-flex">
                    <div class="col-4" style="text-align: left;" >
                        <label>Ημ/νία Πρόσληψης</label>
                    </div>
                    <div class="col-8 modal-item-value" id="value2" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
                </div>
            </div>
            <div class="modal-content" style="margin-top: -0.4rem;">
                <div class="modal-item d-flex">
                    <div class="col-5" style="text-align: left;"" >
                        <label>Ημ/νία Λήξης Σύμβασης</label>
                    </div>
                    <div class="col-7 modal-item-value" id="value3" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
                </div>
            </div>
            <div class="modal-content" style="margin-top: -0.4rem;">
                <div class="modal-item d-flex">
                    <div class="col-4" style="text-align: left;" >
                        <label>Ημ/νία Αποχώρησης</label>
                    </div>
                    <div class="col-8 modal-item-value" id="value4" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
                </div>
            </div>
            <div class="modal-content" style="margin-top: -0.4rem;">
                <div class="modal-item d-flex">
                    <div class="col-6" style="text-align: left;" >
                        <label>Χαρακτηρισμός Εργαζόμενου</label>
                    </div>
                    <div class="col-6 modal-item-value" id="value5" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
                </div>
            </div>
            <div class="modal-content" style="margin-top: -0.4rem;">
                <div class="modal-item d-flex">
                    <div class="col-6" style="text-align: left;" >
                        <label>Οικογενειακή Κατάσταση</label>
                    </div>
                    <div class="col-6 modal-item-value" id="value6" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
                </div>
            </div>
            <div class="modal-content" style="margin-top: -0.4rem;">
                <div class="modal-item d-flex">
                    <div class="col-4" style="text-align: left;" >
                        <label>Αριθμός Παιδιών</label>
                    </div>
                    <div class="col-8 modal-item-value" id="value7" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
                </div>
            </div>
            <div class="modal-content" style="margin-top: -0.4rem;">
                <div class="modal-item d-flex">
                    <div class="col-4" style="text-align: left;" >
                        <label>Τύπος Εργαζόμενου</label>
                    </div>
                    <div class="col-8 modal-item-value" id="value8" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
                </div>
            </div>
            <div class="modal-content" style="margin-top: -0.4rem;">
                <div class="modal-item d-flex">
                    <div class="col-5" style="text-align: left;" >
                        <label>Καθεστώς Απασχόλησης</label>
                    </div>
                    <div class="col-7 modal-item-value" id="value9" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
                </div>
            </div>
            <div class="modal-content" style="margin-top: -0.4rem;">
                <div class="modal-item d-flex">
                    <div class="col-4" style="text-align: left;" >
                        <label>Σχέση Εργασίας</label>
                    </div>
                    <div class="col-8 modal-item-value" id="value10" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
                </div>
            </div>
            <div class="modal-content" style="margin-top: -0.4rem;">
                <div class="modal-item d-flex">
                    <div class="col-9" style="text-align: left;" >
                        <label>Ώρες Εβδομαδιαίας Απασχόλησης</label>
                    </div>
                    <div class="col-3 modal-item-value" id="value11" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
                </div>
            </div>
            <div class="modal-content" style="margin-top: -0.4rem;">
                <div class="modal-item d-flex">
                    <div class="col-9" style="text-align: left;" >
                        <label>Ημέρες Εβδομαδιαίας Απασχόλησης</label>
                    </div>
                    <div class="col-3 modal-item-value" id="value12" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
                </div>
            </div>
            <div class="modal-content" style="margin-top: -0.4rem;">
                <div class="modal-item d-flex">
                    <div class="col-9" style="text-align: left;" >
                        <label>Παλιός / Νέος Ασφαλισμένος</label>
                    </div>
                    <div class="col-3 modal-item-value" id="value13" style="text-align: right; padding-left: 10px; font-weight: 600;">
                    </div>
                </div>
            </div>

            <hr class="hr-style-2" style="margin-left: -1rem !important; margin-right: -1rem !important; margin-top: -0.5rem;" />

            <div class="modal-content" style="margin-top: -0.4rem;">
                <div class="modal-item d-flex">
                    <div class="col-9" style="text-align: left; font-weight: 700;" >
                        <label>Καθαρός Ετήσιος Συμφωνηθείς Μισθός</label>
                    </div>
                    <div class="col-3 modal-item-value" id="value14" style="text-align: right; padding-left: 10px; font-weight: 600;">
                    </div>
                </div>
            </div>
            <div class="modal-content" style="margin-top: -0.4rem;">
                <div class="modal-item d-flex">
                    <div class="col-9" style="text-align: left; font-weight: 700;" >
                        <label>Καθαρός Μηνιαίος Συμφωνηθείς Μισθός</label>
                    </div>
                    <div class="col-3 modal-item-value" id="value15" style="text-align: right; padding-left: 10px; font-weight: 600;">
                    </div>
                </div>
            </div>
            <div class="modal-content" style="margin-top: -0.4rem;">
                <div class="modal-item d-flex">
                    <div class="col-9" style="text-align: left; font-weight: 700;" >
                        <label>Πακέτο</label>
                    </div>
                    <div class="col-3 modal-item-value" id="value16" style="text-align: right; padding-left: 10px; font-weight: 600;">
                    </div>
                </div>
            </div>
            <div class="modal-content" style="margin-top: -0.4rem;">
                <div class="modal-item d-flex">
                    <div class="col-9" style="text-align: left; font-weight: 700;" >
                        <label>Μηνιαία Ρεπό</label>
                    </div>
                    <div class="col-3 modal-item-value" id="value17" style="text-align: right; padding-left: 10px; font-weight: 600;">
                    </div>
                </div>
            </div>
        </div>    

        <!-- Modal -->
        <input type="hidden" id="kodikos_hidden" value="" />
        <input type="hidden" id="hmeromhnia_proslhpshs_hidden" value="" />
        <input type="hidden" id="hmeromhnia_lhxhs_symbashs_hidden" value="" />
        <input type="hidden" id="hmeromhnia_apoxorhshs_hidden" value="" />

    </div>

    <div class="col-4-9 mt-2"> 
        <select class="form-select selectpicker-dropdown-small mt-1 notCleared ml-n-0-0" data-live-search="true" name="ergazomenos_kin" id="ergazomenos_kin"> 
        </select>
    </div>

    <div class="col-0-3">
        <button class="btn btn-green buttons-content label-font-size-smaller ml-n-1-0-6" id="prevButton" data-bs-toggle="tooltip" title="Προηγούμενη εγγραφή" data-bs-placement="bottom"><i class="bi bi-chevron-up"></i></button>
    </div>
    <div class="col-0-3">
        <button class="btn btn-green buttons-content label-font-size-smaller ml-n-0-0-4" id="nextButton" data-bs-toggle="tooltip" title="Επόμενη εγγραφή" data-bs-placement="bottom"><i class="bi bi-chevron-down"></i></button>
    </div>
</div>

<div class="row form-group g-3 align-items-center mb-3" style="margin-top: -2.6rem;">

    <div class="col-1 right-align" style="margin-left: 11px;">
        <label for="typosApodoxon" class="col-form-label fsrem-72 field-required">
        Τύπος Αποδοχών</label>
    </div>
    <div class="col-2 mt-2">
        <select class="form-select selectpicker-dropdown-small mt-2 notCleared" data-live-search="true" name="typosApodoxon" id="typosApodoxon">
        </select>
    </div>

    <div class="col-0-6 right-align" style="margin-left: 4px;">
        <label for="periodos" class="col-form-label label-font-size-smaller field-required">
        Περίοδος</label>
    </div>
    <div class="col-1-5 mt-2">
        <select class="form-select selectpicker-dropdown-small mt-2 notCleared" data-live-search="true" name="periodos" id="periodos">
        </select>
    </div>

    <div class="col-0-1-6"></div>

    <div class="col-1-2 right-align" style="margin-left: .8rem;">
        <label for="aaMisthodosias" class="col-form-label label-font-size-smaller field-required">
        α/α Mισθοδοσίας</label>
    </div>
    <div class="col-0-7 mt-2">
        <input type="number" class="form-control1 input-contents mt-2 notCleared" name="aaMisthodosias" id="aaMisthodosias" min="1" max="9" value="1" style="text-align: center;"></input>
    </div>

    <div class="col-1 right-align">
        <label for="exoflhsh" class="col-form-label label-font-size-larger" style="font-size: 1rem; font-weight: 700;">
            ΕΞΟΦΛΗΣΗ
        </label>
    </div>
    <div class="col-1 mt-2">
        <select class="form-select selectpicker-dropdown-small mt-2" data-live-search="true" name="exoflhsh" id="exoflhsh">
            <option value="0">ΝΑΙ</option>
            <option value="1">ΟΧΙ</option>
            <option value="2">ΕΝΑΝΤΙ</option>
        </select>
    </div>
    <div class="col-1 right-align">
        <label for="poso_plhromhs" class="col-form-label label-font-size-smaller">
        Ποσό Πληρωμής
        </label>
    </div>
    <div class="col-1-4">
        <input type="number" class="form-control1 input-contents right-align no-spin" name="poso_plhromhs" id="poso_plhromhs" style="background-color: #f5faae61;" min="0" step="0.05" value="0" />
    </div>

</div>
<hr class="hr-style-4" />
