<div class="card d-flex flex-column z-depth-5" style="width: 90%; margin-left: 5%">
  <div class="card-header p-0" style="height: 2.7rem !important;">
      <label class="text-center w-100 headers-content mt-1" style="font-size: 1.1vw;">Ιστορικό Προσλήψεων - Αλλαγών</label>
  </div>
  <div>
    <table class="table table-striped table-bordered table-sm table-hover mb-0" id="myTableHeader">
      <thead style="font-size: 0.8vw;">
        <tr>
          <th scope="col" class="color-brown col-1" style="background-color: #3d4e001e !important;"><i class="sort-icon bi"></i></th>
          <th scope="col" class="color-brown col-6" colspan="4" style="background-color: #3d4e001e !important;">Η Μ Ε Ρ Ο Μ Η Ν Ι Α<i class="sort-icon bi"></i></th>
          <th scope="col" class="color-brown col-1-5" style="background-color: #3d4e001e !important;"></th>
        </tr>
        <tr>
          <th scope="col" class="color-brown col-1" style="background-color: #3d4e001e !important;">α/α<i class="sort-icon bi"></i></th>
          <th scope="col" class="color-brown col-1-5" style="background-color: #3d4e001e !important;">Πρόσληψης<i class="sort-icon bi"></i></th>
          <th scope="col" class="color-brown col-1-5" style="background-color: #3d4e001e !important;">Αλλαγής Σύμβασης<i class="sort-icon bi"></i></th>
          <th scope="col" class="color-brown col-1-5" style="background-color: #3d4e001e !important;">Λήξης Σύμβασης<i class="sort-icon bi"></i></th>
          <th scope="col" class="color-brown col-1-5" style="background-color: #3d4e001e !important;">Αποχώρησης<i class="sort-icon bi"></i></th>
          <th scope="col" class="color-brown col-1-5" style="background-color: #3d4e001e !important;">Ενέργειες</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="card-body p-0 overflow-auto flex-grow-1" style="height: 36.2vh; background-color: #ffffff;">
    <table class="table table-striped table-bordered table-sm table-hover" id="myTable">
      <tbody>
      </tbody>
    </table>
  </div>

  <div class="card-footer mt-auto">
    <div class="d-flex" style="margin: -0.5rem 0.625rem 2rem;">
  
      <!-- Κουμπιά ενεργειών -->
      <div class="d-flex" style="width: 100%; justify-content: space-around;">
        <button 
          id="updateBtn" style="font-size: 0.8vw;" data-bs-toggle="tooltip" data-bs-title="Αποθήκευση και τακτοποίηση των εγγραφών του Ιστορικού" data-bs-placement="bottom" class="btn btn-brown rounded-4 mb-3 mt-2 mr-1 col-3">
            <i class="bi bi-save"></i> Ενημέρωση Ιστορικού Αρχείου
        </button>
        
        <button 
          id="cancelBtn"
          class="btn btn-brown rounded-4 mb-3 mt-2 col-3" style="font-size: 0.8vw;" data-bs-toggle="tooltip" data-bs-title="Ακύρωση ενημέρωσης των τροποποιημένων / διεγραμμένων εγγραφών" data-bs-placement="bottom" >
          <i class="bi bi-arrow-counterclockwise"></i> Ακύρωση Ενημέρωσης
        </button>
      </div>
    </div>
  </div>
</div>
