<% const safe = (k) => (rec && rec[k]) || ''; %>

<div class="row form-group align-items-center bg-3d4e001e margin-left--1rem margin-right--1rem font-size-rem-0_80 margin-bottom--0_1rem">
	<div class="col-5"></div>
	<div class="col-2-1 text-center">
		<label class="col-form-label field-required">
		ΩΡΕΣ ΕΡΓΑΣΙΑΣ
		</label>
	</div>
	
	<div class="col-0-7"></div>
	
	<div class="col-2 text-center">
		<label class="col-form-label field-required">
		ΩΡΕΣ ΔΙΑΛΕΙΜΜΑΤΟΣ
		</label>
	</div>
</div>

<div class="row form-group align-items-center  bg-3d4e001e margin-left--1rem margin-right--1rem font-size-rem-0_80">
	<div class="col-0-5 text-center">
		<label class="col-form-label field-required"></label>
	</div>

	<div class="col-1-5 text-center">
		<label class="col-form-label field-required">
		Ημερομηνία
		</label>
	</div>

	<div class="col-2-5 text-center">
		<label class="col-form-label field-required">
		Τύπος Εργασίας
		</label>
	</div>

	<div class="col-0-5"></div>

	<div class="col-1-2 text-center">
		<label class="col-form-label field-required">
		Από
		</label>
	</div>

	<div class="col-1-2 text-center">
		<label class="col-form-label field-required">
		Έως
		</label>
	</div>

	<div class="col-0-5"></div>

	<div class="col-1-2 text-center">
		<label class="col-form-label field-required">
		Από
		</label>
	</div>

	<div class="col-1-2 text-center">
		<label class="col-form-label field-required">
		Έως
		</label>
	</div>

	<div class="col-0-5"></div>

	<div class="col-1 text-center">
		<label class="col-form-label field-required">
		Repo
		</label>
	</div>
</div>

<input type="hidden" id="differenceInDays" value="0">
<input type="hidden" id="differenceDaysToEndOfMonth" value="0">

<div id="dynamicFields"></div>

<div class="row form-group align-items-center" style="background-color: #3d4e001e !important; margin-left: -1rem; margin-right: -1rem; font-size: 0.8rem; margin-bottom: -0.1rem;">
  <div class="col-12 text-center">
    <label class="col-form-label field-required" style="font-size: 1.3rem; font-weight: 700;">
       Σ Υ Ν Ο Λ Α &nbsp; &nbsp; &nbsp; Ω Ρ Ω Ν &nbsp; &nbsp; &nbsp; Α Π Α Σ Χ Ο Λ Η Σ Η Σ
    </label>
  </div>
</div>

<div class="row form-group align-items-center" style="background-color: #ffffff;">
  <div class="col-2 left-align">
    <label for="total_hours_day" class="col-form-label label-font-size">Ώρες Εργασίας</label>
  </div>

  <div class="col-1-5 text-center">
    <input type="text" class="form-control input-contents right-align" id="total_hours_day" name="total_hours_day" style="background-color: #cddbc63d;" value="" readonly />
  </div>

  <div class="col-0-5"></div>

  <div class="col-2 left-align">
    <label for="holiday_overwork_hours_day" class="col-form-label label-font-size">Ώρες Υπερεργασίας Αργιών</label>
  </div>

  <div class="col-1-5 text-center">
    <input type="text" class="form-control input-contents right-align" id="holiday_overwork_hours_day" name="holiday_overwork_hours_day" style="background-color: #41e6001e;" value="" readonly />
  </div>

  <div class="col-0-5"></div>

  <div class="col-2 left-align">
    <label for="night_holiday_overtimeNomimh_hours_day" class="col-form-label label-font-size">Ώρες Νόμιμης Υπερωρίας Νύχτας Αργιών</label>
  </div>

  <div class="col-1-5 text-center">
    <input type="text" class="form-control input-contents right-align" id="night_holiday_overtimeNomimh_hours_day" name="night_holiday_overtimeNomimh_hours_day" style="background-color: #edf1001e;" value="" readonly />
  </div>
</div>

<div class="row form-group align-items-center" style="background-color: #ffffff; margin-top: -0.65rem">
  <div class="col-2 left-align">
    <label for="night_hours_day" class="col-form-label label-font-size">Ώρες Εργασίας Νύχτας</label>
  </div>

  <div class="col-1-5 text-center">
    <input type="text" class="form-control input-contents right-align" id="night_hours_day" name="night_hours_day" style="background-color: #cddbc63d;" value="" readonly />
  </div>

  <div class="col-0-5"></div>

  <div class="col-2 left-align">
    <label for="night_holiday_overwork_hours_day" class="col-form-label label-font-size">Ώρες Υπερ/σίας Αργιών Νύχτας</label>
  </div>

  <div class="col-1-5 text-center">
    <input type="text" class="form-control input-contents right-align" id="night_holiday_overwork_hours_day" name="night_holiday_overwork_hours_day" style="background-color: #41e6001e;" value="" readonly />
  </div>

  <div class="col-0-5"></div>

  <div class="col-2 left-align">
    <label for="overtimeParanomh_hours_day" class="col-form-label label-font-size">Ώρες Παράνομης Υπερωρίας</label>
  </div>

  <div class="col-1-5 text-center">
    <input type="text" class="form-control input-contents right-align" id="overtimeParanomh_hours_day" name="overtimeParanomh_hours_day" style="background-color: #ffa60023;" value="" readonly />
  </div>
</div>

<div class="row form-group align-items-center" style="background-color: #ffffff; margin-top: -0.65rem;">
  <div class="col-2 left-align">
    <label for="holiday_hours_day" class="col-form-label label-font-size">Ώρες Εργασίας Αργιών</label>
  </div>

  <div class="col-1-5 text-center">
    <input type="text" class="form-control input-contents right-align" id="holiday_hours_day" name="holiday_hours_day" style="background-color: #cddbc63d;" value="" readonly />
  </div>

  <div class="col-0-5"></div>

  <div class="col-2 left-align">
    <label for="overtimeNomimh_hours_day" class="col-form-label label-font-size">Ώρες Νόμιμης Υπερωρίας</label>
  </div>

  <div class="col-1-5 text-center">
    <input type="text" class="form-control input-contents right-align" id="overtimeNomimh_hours_day" name="overtimeNomimh_hours_day" style="background-color: #edf1001e;" value="" readonly />
  </div>

  <div class="col-0-5"></div>

  <div class="col-2 left-align">
    <label for="night_overtimeParanomh_hours_day" class="col-form-label label-font-size">Ώρες Παράνομης Υπερωρίας Νύχτας</label>
  </div>

  <div class="col-1-5 text-center">
    <input type="text" class="form-control input-contents right-align" id="night_overtimeParanomh_hours_day" name="night_overtimeParanomh_hours_day" style="background-color: #ffa60023;" value="" readonly />
  </div>
</div>

<div class="row form-group align-items-center" style="background-color: #ffffff; margin-top: -0.65rem;">
  <div class="col-2 left-align">
    <label for="overwork_hours_day" class="col-form-label label-font-size">Ώρες Υπερεργασίας</label>
  </div>

  <div class="col-1-5 text-center">
    <input type="text" class="form-control input-contents right-align" id="overwork_hours_day" name="overwork_hours_day" style="background-color: #41e6001e;" value="" readonly />
  </div>

  <div class="col-0-5"></div>

  <div class="col-2 left-align">
    <label for="night_overtimeNomimh_hours_day" class="col-form-label label-font-size">Ώρες Νόμιμης Υπερωρίας Νύχτας</label>
  </div>

  <div class="col-1-5 text-center">
    <input type="text" class="form-control input-contents right-align" id="night_overtimeNomimh_hours_day" name="night_overtimeNomimh_hours_day" style="background-color: #edf1001e;" value="" readonly />
  </div>

  <div class="col-0-5"></div>

  <div class="col-2 left-align">
    <label for="holiday_overtimeParanomh_hours_day" class="col-form-label label-font-size">Ώρες Παράνομης Υπερωρίας Αργιών</label>
  </div>

  <div class="col-1-5 text-center">
    <input type="text" class="form-control input-contents right-align" id="holiday_overtimeParanomh_hours_day" name="holiday_overtimeParanomh_hours_day" style="background-color: #ffa60023;" value="" readonly />
  </div>
</div>

<div class="row form-group align-items-center" style="background-color: #ffffff; margin-top: -0.65rem;">
  <div class="col-2 left-align">
    <label for="night_overwork_hours_day" class="col-form-label label-font-size">Ώρες Υπερεργασίας Νύχτας</label>
  </div>

  <div class="col-1-5 text-center">
    <input type="text" class="form-control input-contents right-align" id="night_overwork_hours_day" name="night_overwork_hours_day" style="background-color: #41e6001e;" value="" readonly />
  </div>

  <div class="col-0-5"></div>

  <div class="col-2 left-align">
    <label for="holiday_overtimeNomimh_hours_day" class="col-form-label label-font-size">Ώρες Νόμιμης Υπερωρίας Αργιών</label>
  </div>

  <div class="col-1-5 text-center">
    <input type="text" class="form-control input-contents right-align" id="holiday_overtimeNomimh_hours_day" name="holiday_overtimeNomimh_hours_day" style="background-color: #edf1001e;" value="" readonly />
  </div>

  <div class="col-0-5"></div>

  <div class="col-2 left-align">
    <label for="night_holiday_overtimeParanomh_hours_day" class="col-form-label label-font-size">Ώρες Παράνομης Υπερωρίας Αργιών Νύχτας</label>
  </div>

  <div class="col-1-5 text-center">
    <input type="text" class="form-control input-contents right-align" id="night_holiday_overtimeParanomh_hours_day" name="night_holiday_overtimeParanomh_hours_day" style="background-color: #ffa60023;" value="" readonly />
  </div>
</div>
