<div class="card-header mb-2">
  <label class="text-center headers-content">
    Α π α σ χ ο λ ή σ ε ι ς
  </label>
</div>

<div class="row form-group g-3 align-items-center" style="margin-top: -1.2rem; margin-bottom: 1.5rem;">
  <div class="col-1 right-align">
    <label class="col-form-label label-font-size field-required" style="color: #000000;">
      Υποκατάστημα
    </label>
  </div>
  <div class="col-3">
    <label class="label-control-no-border left-align headers-input-content" id="ypokatasthmaLabel_Adeies" style="color: #0000007a; font-weight: 600;">&nbsp;</label>
  </div>

  <div class="col-1 right-align">
    <label class="col-form-label label-font-size field-required" style="color: #000000;">
      Εργαζόμενος
    </label>
  </div>
  <div class="col-7">
    <label class="label-control-no-border left-align headers-input-content" id="ergazomenosLabel_Adeies" style="color: #0000007a; font-weight: 600;">&nbsp;</label>
  </div>
</div>

<hr class="hr-style-1" style="margin-top: -1.2rem; margin-bottom: -0.45rem;" />
