<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3-0 pb-2-0 mb-3 mt-2-5 border-bottom bg-hero-cdn">
</div>
    
    <div>
        <a
            href="/mainapp"
            type="button"
            class="btn btn-outline-secondary style-404 col-1-5"
            title="Επιστροφή στην αρχική σελίδα">
            <i class="bi bi-chevron-double-left"></i> Επιστροφή
        </a>
    </div>
<!-- </div> -->
