<style>
  body {
    /* background-image: url("/img/pageNotFound.png"); */
    background-image: url("https://cdn.webpayrollsolutions.com/assets/img/pageNotFound.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: 63% 45%;
  }
</style>
<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-1 mt-4"
  style="background-image: url('https://cdn.webpayrollsolutions.com/assets/img/wps1.png'); background-repeat: no-repeat; background-position: 0% 50%;">
  
  <div>
    <a
      href="/mainapp"
      type="button"
      class="btn btn-outline-secondary"
      title="Επιστροφή στην αρχική σελίδα"
      style="
        position: absolute;
        left: 53%;
        right: 38%;
        top: 76%;
        bottom: 20%;
        margin: auto;
      "
    >
      <i class="bi bi-chevron-double-left"></i> Επιστροφή
    </a>
  </div>
</div>

<script src="/js/common/tooltipsForButtons.js"></script>
