<style>
  body {
    background-image: url("https://cdn.webpayrollsolutions.com/assets/img/wps.png");
    background-repeat: no-repeat;
    background-attachment:inherit;
    background-size:auto;
    background-position: 60% 50%;
  }
</style>

<div
class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

<%- include('./partials/flash') %>

<% if (!userId) { %> 
  <a
    href="/login"
    type="button"
    class="btn btn-outline-success btn-small buttons-content ms-auto w-11_5"
    style="margin-top: -7px; font-size: 1.1rem; font-weight: 700;"
    title="Σύνδεση και είσοδος στην εφαρμογή"
  >
    <i class="buttons-content bi bi-box-arrow-in-right"></i> Σύνδεση
  </a>
<% } else { %>
  <a
    href="/companies/genikastoixeia/"
    type="button"
    class="btn btn-outline-success btn-small buttons-content ms-auto w-11_5"
    style="margin-top: -7px; font-size: 1.1rem; font-weight: 700;"
    title="Επιστροφή στην εφαρμογή (Εταιρείες)"
  >
    <i class="buttons-content bi bi-box-arrow-in-right"></i> Είσοδος
  </a>
<% } %>
</div>

