<% bodyClass = (typeof bodyClass !== 'undefined' && bodyClass ? bodyClass + ' ' : '') + 'home-bg'; %>

<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3">

    <%- include('./partials/flash') %>

    <% if (!userId) { %> 
        <a
            href="/login"
            type="button"
            class="btn btn-outline-success btn-small buttons-content ms-auto w-11_5 loginConnect"
            title="Σύνδεση και είσοδος στην εφαρμογή">
            <i class="buttons-content bi bi-box-arrow-in-right"></i> Σύνδεση
        </a>
    <% } %>
</div>
