<body class="<%= bodyClass || '' %>">

<div class="container-fluid" style="background-color: transparent;">
</div>

<% const isProduction = NODE_ENV === 'production'; %>
<script>
    window.RUNTIME_ENV = "<%= NODE_ENV %>";
</script>

<script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/getAppDate<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
