<div class="card-footer cardFooter">
    <div class="d-inline-block d-flex cardFooter01">
        <button
            type="button"
            data-bs-toggle="tooltip"
            data-bs-title="Ενημέρωση των μεταβολών"
            data-bs-placement="top"
            data-tooltip-max-width="15vw"
            class="btn btn-brown rounded-4 buttons-contents mt-2 w-20 submitButton">
            <i class="bi bi-floppy"></i> Αποθήκευση
        </button>
        <a
            class="btn btn-brown rounded-4 buttons-contents mt-2 w-20"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-tooltip-max-width="15vw"
            data-bs-title="Επιστροφή στη φόρμα Διαχείρισης Εταιρειών"
            href="/companies/genikastoixeia">
            <i class="bi bi-chevron-double-left"></i> Επιστροφή
        </a>
    </div>
</div>