<div class="card-footer">
  <div
    class="d-inline-block d-flex"
    style="
      margin-top: -0.5rem !important;
      margin-bottom: -1rem !important;
      margin-left: 10px !important;
      margin-right: 10px !important;
      justify-content: space-around;
      height: 15vh;
    "
  >
    <button
      type="button"
      class="btn btn-brown rounded-4 mt-2 w-20 buttons-content submitButton"
    >
      <i class="bi bi-floppy"></i> Αποθήκευση
    </button>
    <a
      class="btn btn-brown buttons-content rounded-4 mt-2 w-20"
      href="/ergazomenoi/ergazomenoi"
      ><i class="bi bi-chevron-double-left"></i> Επιστροφή
    </a>
    <button type="button" class="btn btn-toTop scroll-to-top"><i class="bi bi-chevron-double-up"></i></button>
  </div>
</div>
