<!-- cardHeader_Add_Section2_8.ejs -->

<div class="row form-group g-3 align-items-center margin-bottom--0_5rem">
    <div class="card-header">
        <label class="text-center headers-content sectionTitle"></label>
    </div>

    <div class="row form-group g-0 header-row">
        <div class="col-1 right-align-header">
            <label class="col-form-label label-font-size field-required cblack">
            Επώνυμο &nbsp;
            </label>
        </div>
        <div class="col-3">
            <label class="form-control input-contents display-value sync-eponymo"></label>
        </div>

        <div class="col-0-75 right-align-header">
            <label class="col-form-label label-font-size field-required cblack">
            Όνομα &nbsp;
            </label>
        </div>
        <div class="col-2">
            <label class="form-control input-contents display-value sync-onoma"></label>
        </div>

        <div class="col-1 right-align-header">
            <label class="col-form-label label-font-size field-required cblack">
            ΑΦΜ &nbsp;
            </label>
        </div>
        <div class="col-1-5">
            <label class="form-control input-contents display-value sync-afm"></label>
        </div>

        <div class="col-1 right-align-header">
            <label class="col-form-label label-font-size field-required cblack right-align">
            ΑΜΚΑ &nbsp;
            </label>
        </div>
        <div class="col-1-3">
            <label class="form-control input-contents amka-input display-value sync-amka"></label>
        </div>

        <div class="col"></div>
    </div>
    
    <div>
        <hr class="hr-style-header"></hr>
    </div>
</div>
