<div class="modal fade" id="wrongUser" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-md" role="document">

        <div class="modal-content z-depth-5">
            <div class="modal-header bg-danger text-light">
                <p><h3 class="text-center">Προσοχή !!!</h3></p>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="bi bi-bell-fill" style="font-size: 50px; color: var(--bs-danger)"></i>

                    <p style="font-weight: 400"><strong>ΛΑΘΟΣ</strong></p>
                    </br>
                    <p>Προσπαθείτε να εισέλθετε στην εφαρμογή ενώ δεν έχετε συνδεθεί ή έχετε αποσυνδεθεί λόγω λήξης της συνεδρίας</p>
                    </br>
                </div>
            </div>

            <div class="modal-footer justify-content-center" style="color: var(--bs-gray-800)">
                <a type="button" class="btn btn-outline-warning w-40" style="color: var(--bs-secondary); text-decoration: none;" data-bs-dismiss="modal">Κλείσιμο</a>
            </div>
        </div>
    </div> 
</div>
