<div class="modal fade" id="wrongAfm" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-md" role="document">

        <div class="modal-content z-depth-5">
            <div class="modal-header bg-warning text-dark">
                <p><h3 class="text-center">Προσοχή !!!</h3></p>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="bi bi-bell-fill" style="font-size: 50px; color: var(--bs-warning)"></i>

                    <p style="font-weight: 400"><strong>Λάθος ΑΦΜ</strong></p>
                    </br>
                    <p>Πληκτρολογείστε τον σωστό ΑΦΜ ή αφήστε το πεδίο κενό.</p>
                    </br>
                </div>
            </div>

            <div class="modal-footer justify-content-center" style="color: var(--bs-gray-800)">
                <a type="button" class="btn btn-outline-warning w-40" style="color: var(--bs-secondary); text-decoration: none;" data-bs-dismiss="modal">Κλείσιμο</a>
            </div>
        </div>
    </div> 
</div>
