<div id="<%= prefix %><%= modalId %>" class="hover-modal">
    <div class="modal-header col-12">
        <h3>Πληροφορίες Εργαζομένου</h3>
    </div>

    <hr class="hr-style-1" style="margin-left: -1rem !important; margin-right: -1rem !important;" />
    
    <div class="modal-content">
        <div class="modal-item d-flex">
            <div class="col-4" style="text-align: left;" >
                <label>Κωδικός</label>
            </div>
            <div class="col-8 modal-item-value" id="value1" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
        </div>
    </div>
    <div class="modal-content" style="margin-top: -0.4rem;">
        <div class="modal-item d-flex">
            <div class="col-4" style="text-align: left;" >
                <label>Ημ/νία Πρόσληψης</label>
            </div>
            <div class="col-8 modal-item-value" id="value2" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
        </div>
    </div>
    <div class="modal-content" style="margin-top: -0.4rem;">
        <div class="modal-item d-flex">
            <div class="col-5" style="text-align: left;"" >
                <label>Ημ/νία Λήξης Σύμβασης</label>
            </div>
            <div class="col-7 modal-item-value" id="value3" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
        </div>
    </div>
    <div class="modal-content" style="margin-top: -0.4rem;">
        <div class="modal-item d-flex">
            <div class="col-4" style="text-align: left;" >
                <label>Ημ/νία Αποχώρησης</label>
            </div>
            <div class="col-8 modal-item-value" id="value4" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
        </div>
    </div>
    <div class="modal-content" style="margin-top: -0.4rem;">
        <div class="modal-item d-flex">
            <div class="col-6" style="text-align: left;" >
                <label>Χαρακτηρισμός Εργαζόμενου</label>
            </div>
            <div class="col-6 modal-item-value" id="value5" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
        </div>
    </div>
    <div class="modal-content" style="margin-top: -0.4rem;">
        <div class="modal-item d-flex">
            <div class="col-6" style="text-align: left;" >
                <label>Οικογενειακή Κατάσταση</label>
            </div>
            <div class="col-6 modal-item-value" id="value6" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
        </div>
    </div>
    <div class="modal-content" style="margin-top: -0.4rem;">
        <div class="modal-item d-flex">
            <div class="col-4" style="text-align: left;" >
                <label>Αριθμός Παιδιών</label>
            </div>
            <div class="col-8 modal-item-value" id="value7" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
        </div>
    </div>
    <div class="modal-content" style="margin-top: -0.4rem;">
        <div class="modal-item d-flex">
            <div class="col-4" style="text-align: left;" >
                <label>Τύπος Εργαζόμενου</label>
            </div>
            <div class="col-8 modal-item-value" id="value8" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
        </div>
    </div>
    <div class="modal-content" style="margin-top: -0.4rem;">
        <div class="modal-item d-flex">
            <div class="col-5" style="text-align: left;" >
                <label>Καθεστώς Απασχόλησης</label>
            </div>
            <div class="col-7 modal-item-value" id="value9" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
        </div>
    </div>
    <div class="modal-content" style="margin-top: -0.4rem;">
        <div class="modal-item d-flex">
            <div class="col-4" style="text-align: left;" >
                <label>Σχέση Εργασίας</label>
            </div>
            <div class="col-8 modal-item-value" id="value10" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
        </div>
    </div>
    <div class="modal-content" style="margin-top: -0.4rem;">
        <div class="modal-item d-flex">
            <div class="col-9" style="text-align: left;" >
                <label>Ώρες Εβδομαδιαίας Απασχόλησης</label>
            </div>
            <div class="col-3 modal-item-value" id="value11" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
        </div>
    </div>
    <div class="modal-content" style="margin-top: -0.4rem;">
        <div class="modal-item d-flex">
            <div class="col-9" style="text-align: left;" >
                <label>Ημέρες Εβδομαδιαίας Απασχόλησης</label>
            </div>
            <div class="col-3 modal-item-value" id="value12" style="text-align: right; padding-left: 10px; font-weight: 600;"></div>
        </div>
    </div>
    <div class="modal-content" style="margin-top: -0.4rem;">
        <div class="modal-item d-flex">
            <div class="col-9" style="text-align: left;" >
                <label>Παλιός / Νέος Ασφαλισμένος</label>
            </div>
            <div class="col-3 modal-item-value" id="value13" style="text-align: right; padding-left: 10px; font-weight: 600;">
            </div>
        </div>
    </div>

    <hr class="hr-style-2" style="margin-left: -1rem !important; margin-right: -1rem !important; margin-top: -0.4rem;" />

    <div class="modal-content" style="margin-top: -0.4rem;">
        <div class="modal-item d-flex">
            <div class="col-9" style="text-align: left; font-weight: 700;" >
                <label>Καθαρός Ετήσιος Συμφωνηθείς Μισθός</label>
            </div>
            <div class="col-3 modal-item-value" id="value14" style="text-align: right; padding-left: 10px; font-weight: 600;">
            </div>
        </div>
    </div>
    <div class="modal-content" style="margin-top: -0.4rem;">
        <div class="modal-item d-flex">
            <div class="col-9" style="text-align: left; font-weight: 700;" >
                <label>Καθαρός Μηνιαίος Συμφωνηθείς Μισθός</label>
            </div>
            <div class="col-3 modal-item-value" id="value15" style="text-align: right; padding-left: 10px; font-weight: 600;">
            </div>
        </div>
    </div>
    <div class="modal-content" style="margin-top: -0.4rem;">
        <div class="modal-item d-flex">
            <div class="col-9" style="text-align: left; font-weight: 700;" >
                <label>Πακέτο</label>
            </div>
            <div class="col-3 modal-item-value" id="value16" style="text-align: right; padding-left: 10px; font-weight: 600;">
            </div>
        </div>
    </div>
    <div class="modal-content" style="margin-top: -0.4rem;">
        <div class="modal-item d-flex">
            <div class="col-9" style="text-align: left; font-weight: 700;" >
                <label>Μηνιαία Ρεπό</label>
            </div>
            <div class="col-3 modal-item-value" id="value17" style="text-align: right; padding-left: 10px; font-weight: 600;">
            </div>
        </div>
    </div>
</div>    
