<div class="row form-group align-items-center foroi-body-row">
    <div class="col-9"></div>
    <div class="col-0-1"></div>

    <div class="col-1 text-center">
        <label class="col-form-label label-font-size-0-9-bold700 field-required">
            Ετήσια
        </label>
    </div>

    <div class="col-0-5"></div>

    <div class="col-1 text-center">
        <label class="col-form-label label-font-size-0-9-bold700 field-required">
            Μηνιαία
        </label>
    </div>
</div>

<div class="row form-group align-items-center foroi-body-row">
    <div class="col-4 left-align">
        <label class="col-form-label label-font-size">
            Φορολογητέο Ποσό Τακτικά Καταβαλλόμενων Αποδοχών
        </label>
    </div>

    <div class="col-4-5"></div>
    <div class="col-0-4"></div>

    <div class="col-1-5">
        <input type="text" class="form-control input-contents right-align clearAble foroi-body-readonly"
            name="ethsio_forologhteo_poso_taktikon_apodoxon"
            id="ethsio_forologhteo_poso_taktikon_apodoxon"
            value="" maxlength="9" tabIndex="-1" readonly />
    </div>

    <div class="col-1-5">
        <input type="text" class="form-control input-contents right-align clearAble foroi-body-readonly"
            name="forologhteo_poso_taktikon_apodoxon"
            id="forologhteo_poso_taktikon_apodoxon"
            value="" maxlength="9" tabIndex="-1" readonly />
    </div>
</div>

<div class="row form-group align-items-center foroi-body-row">
    <div class="col-5 left-align">
        <label class="col-form-label label-font-size">
        Ετήσιος / Μηνιαίο Αναλογούν Φόρος Προ Έκπτωσης
        </label>
    </div>

    <div class="col-3-5"></div>
    <div class="col-0-4"></div>

    <div class="col-1-5">
        <input type="text" class="form-control input-contents right-align clearAble foroi-body-readonly"
            name="analogoyn_foros_pro_ekptoshs"
            id="analogoyn_foros_pro_ekptoshs"
            value="" maxlength="9" tabIndex="-1" readonly />
    </div>
    <div class="col-1-5">
        <input type="text" class="form-control input-contents right-align clearAble foroi-body-readonly"
            name="mhniaios_analogoyn_foros_pro_ekptoshs"
            id="mhniaios_analogoyn_foros_pro_ekptoshs"
            value="" maxlength="9" tabIndex="-1" readonly />
    </div>
</div>

<div class="row form-group align-items-center foroi-body-row">
    <div class="col-4 left-align">
        <label class="col-form-label label-font-size">
        Εισφορά Αλληλεγγύης
        </label>
    </div>

    <div class="col-6"></div>
    <div class="col-0-4"></div>

    <div class="col-1-5">
        <input type="text" class="form-control input-contents right-align clearAble foroi-body-readonly"
            name="eisfora_allhleggyhs"
            id="eisfora_allhleggyhs"
            value="" maxlength="9" tabIndex="-1" readonly />
    </div>
</div>

<div class="row form-group align-items-center foroi-body-row">
    <div class="col-5 left-align">
        <label class="col-form-label label-font-size">
        Ετήσια / Μηνιαία Έκπτωση Λόγω Οικογενειακής - Οικονομικής Κατάστασης
        </label>
    </div>

    <div class="col-3-5"></div>
    <div class="col-0-4"></div>

    <div class="col-1-5">
        <input type="text" class="form-control input-contents right-align clearAble foroi-body-readonly"
            name="ekptosh_logo_oikogeneiakhs_katastashs"
            id="ekptosh_logo_oikogeneiakhs_katastashs"
            value="" maxlength="9" tabIndex="-1" readonly />
    </div>

    <div class="col-1-5">
        <input type="text" class="form-control input-contents right-align clearAble foroi-body-readonly"
            name="mhniaia_ekptosh_logo_oikogeneiakhs_katastashs"
            id="mhniaia_ekptosh_logo_oikogeneiakhs_katastashs"
            value="" maxlength="9" tabIndex="-1" readonly />
    </div>
</div>

<div class="row form-group align-items-center foroi-body-row">
    <div class="col-4 left-align">
        <label class="col-form-label label-font-size">
        Αναλογούν Φόρος Μετά την Έκπτωση
        </label>
    </div>

    <div class="col-6"></div>
    <div class="col-0-4"></div>

    <div class="col-1-5">
        <input type="text" class="form-control input-contents right-align clearAble foroi-body-calculated"
            name="analogoyn_foros_meta_thn_ekptosh"
            id="analogoyn_foros_meta_thn_ekptosh"
            value="" maxlength="9" tabIndex="-1" readonly />
    </div>
</div>

<div class="row form-group align-items-center foroi-body-row d-none" id="analogoyn_foros_epoxikon_row">
    <div class="col-4 left-align">
        <label class="col-form-label label-font-size">
        Αναλογούν Φόρος Εποχικά Εργαζόμενου/ης
        </label>
    </div>

    <div class="col-6"></div>
    <div class="col-0-4"></div>

    <div class="col-1-5">
        <input type="text" class="form-control input-contents right-align clearAble foroi-body-calculated"
            name="analogoyn_foros_epoxikon"
            id="analogoyn_foros_epoxikon"
            value="" maxlength="9" tabIndex="-1" readonly />
    </div>
</div>

<hr class="hr-style-1 foroi-body-separator" />

<div class="row form-group align-items-center foroi-body-row">
    <div class="col-4 left-align">
        <label class="col-form-label label-font-size">
        Σύνολο Εκτάκτων Αμοιβών (που δεν συνεντέλλονται)
        </label>
    </div>

    <div class="col-6"></div>
    <div class="col-0-4"></div>

    <div class="col-1-5">
        <input type="text" class="form-control input-contents right-align clearAble foroi-body-readonly"
            name="synolo_ektakton_amoibon"
            id="synolo_ektakton_amoibon"
            value="" maxlength="9" tabIndex="-1" readonly />
    </div>
</div>

<div class="row form-group align-items-center foroi-body-row">
    <div class="col-4 left-align">
        <label class="col-form-label label-font-size">
        Φόρος εκτάκτων Αμοιβών
        </label>
    </div>

    <div class="col-6"></div>
    <div class="col-0-4"></div>

    <div class="col-1-5">
        <input type="text" class="form-control input-contents right-align clearAble foroi-body-calculated"
            name="analogoyn_foros_ektakton_amoibon"
            id="analogoyn_foros_ektakton_amoibon"
            value="" maxlength="9" tabIndex="-1" readonly />
    </div>
</div>

<hr class="hr-style-1 foroi-body-separator" />

<div class="row form-group align-items-center foroi-body-row">
    <div class="col-4 left-align">
        <label class="col-form-label label-font-size field-required">
        ΣΥΝΟΛΟ ΦΟΡΟΥ
        </label>
    </div>

    <div class="col-6"></div>
    <div class="col-0-4"></div>

    <div class="col-1-5">
        <input type="text" class="form-control input-contents right-align clearAble foroi-body-total"
            name="synolo_foroy"
            id="synolo_foroy"
            value="" maxlength="9" tabIndex="-1" />
    </div>
</div>
