<div
    class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3-0 pb-2-0 mb-3 mt-2-5 border-bottom bg-hero-cdn">
</div>

<%- include('../partials/flash') %>

</br> </br>
<div class="container w-40">
    <form action="/login/userLogin" method="POST">
        
        <%- include('../partials/_csrfField') %>

        <div class="card z-depth-5">
            <div class="card-header">
                <label class="headers-content w-100 text-center">Σύνδεση & Είσοδος στην Εφαρμογή</label>
            </div>
            <div class="card-body">
                <div class="row form-group g-3 align-items-center mt-2 mb-5">
                    <div class="col-2 left-align">
                        <label for="email" class="col-form-label field-required">e-mail</label>
                    </div>
                    <div class="col-10">
                        <input
                            type="text"
                            name="email"
                            id="email"
                            class="form-control"
                            required
                        />
                    </div>
                </div>

                <div class="row form-group g-3 align-items-center mb-2">
                    <div class="col-2 left-align">
                        <label for="password" class="col-form-label field-required">Password</label>
                    </div>
                    <div class="col-10">
                        <input
                            type="password"
                            name="password"
                            id="password"
                            class="form-control"
                            autocomplete="off"
                            required
                        />
                    </div>
                </div>

                <div class="text-center mt-5" tabindex="-1">
                    <a class="small text-muted" href="/login/verify-email"><i class="bi bi-pencil-square"></i> Εγγραφείτε</a>

                    &nbsp; &nbsp;
                    <a class="small text-muted" href="/reset_password"><i class="bi bi-patch-question"></i> Ξεχάσατε το password; </a>

                    &nbsp; &nbsp;
                    <a class="small text-muted" href="/login/change_password"><i class="bi bi-key"></i> Αλλαγή Password</a>
                </div>
            </div>

            <div class="card-footer cardFooter" >
                <div class="d-inline-block d-flex cardFooter01">
                    <button type="submit" class="btn btn-brown rounded-4 buttons-content w-35 mb-1 mt-2"><i class="buttons-content bi bi-box-arrow-in-right"></i> Είσοδος
                    </button>
                    
                    <% if (typeof userName !== 'undefined' && userName.length > 0) { %>
                        <a class="btn btn-brown rounded-4 buttons-content w-35 mb-1 mt-2" href="/"
                        ><i class="buttons-content bi bi-chevron-double-left"></i> Επιστροφή</a>
                    <% } else { %>
                        <a class="btn btn-brown rounded-4 buttons-content w-35 mb-1 mt-2" href="/"
                        ><i class="buttons-content bi bi-x-octagon"></i> Ακύρωση</a>
                    <% } %>
                </div>
            </div>
        </div>
    </form>
</div>
