<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3-0 pb-2-0 mb-3 mt-2-5 border-bottom" style="background-image: url('https://cdn.webpayrollsolutions.com/assets/img/wps1.png'); background-repeat: no-repeat; background-position: 0% 50%;">
</div>

<div class="ht-12"></div>

<div class="container w-40">
  <form action="/logout/userLogout" method="POST">
    
    <div class="card z-depth-5 mt-6">
      <div class="card-header">
        <label class="w-100 text-center" style="font-size: 1.15vw; font-weight: 600;">Αποσύνδεση & Έξοδος από την Εφαρμογή</label>
      </div>
      <div class="card-body">
        <div class="row form-group g-3 align-items-center mt-2 mb-3">
          <div class="text-center">
            <i class="bi bi-bell-fill bi-logout-swing" style="font-size: 70px; color: var(--bs-warning)"></i>
            </br>
            <!-- </br> -->
            <p>Είστε σίγουροι ότι θέλετε να κλείσετε την εφαρμογή;</p>
            </br>
          </div>
        </div>
      </div>

      <div class="card-footer" style="margin-left: 0.1rem !important; margin-right: 0.1rem !important;">
        <div
          class="d-inline-block d-flex"
          style="
          margin-top: -0.5rem !important;
          margin-bottom: -1rem !important;
          margin-left: 10px !important;
          margin-right: 10px !important;
          justify-content: space-around;"
        >
          <button type="submit" class="btn btn-brown rounded-4 buttons-content w-35 mb-1 mt-2"><i class="bi bi-box-arrow-in-right"></i> Έξοδος
          </button>
          <a class="btn btn-brown rounded-4 buttons-content w-35 mb-1 mt-2" href="/"
            ><i class="bi bi-chevron-double-left"></i> Επιστροφή</a
          >
        </div>
      </div>
    </div>
  </form>
</div>
