<div class="modal fade" id="logoutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content z-depth-5">
      <div class="modal-header bg-warning text-dark">
        <p><h3 class="text-center"> Έξοδος απ' την εφαρμογή</h3></p>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="bi bi-bell-fill" style="font-size: 50px; color: var(--bs-warning)"></i>
          </br>
          </br>
          <p>Είστε σίγουροι ότι θέλετε να κλείσετε την εφαρμογή;</p>
          </br>
        </div>
      </div>

      <div class="modal-footer justify-content-center" style="color: var(--bs-gray-800)">
        <form action="/companies">
          <button type="submit" class="btn btn-outline-secondary" data-bs-dismiss="modal">ΟΧΙ</button>
        </form>
    
        <form action="/logoutExit" class="position-relative">
          <button type="submit" class="btn btn-outline-danger">Ναι</button>
        </form>
      </div>
    </div>
  </div> 
</div>

<!-- <script src="/static/js/logout.js"></script> -->
