<div class="row form-group align-items-center" style="margin-left: -1rem; margin-right: -1rem; font-size: 0.8rem; margin-top: -1rem; margin-bottom: 1rem;">
    <div class="col-2 left-align">
        <label for="asfalistikes_apodoxes" class="col-form-label label-font-size">
        Ασφαλιστικές Αποδοχές
        </label>
    </div>

    <div class="col-1-5">
        <input type="number" class="form-control1 input-contents no-spin" name="asfalistikes_apodoxes" id="asfalistikes_apodoxes" value="" style="text-align: right; font-size: 1.2rem;"></input>
    </div>
    <div class="col-1-5">
        <input type="number" class="form-control1 input-contents no-spin" name="asfalistikes_apodoxes_hidden" id="asfalistikes_apodoxes_hidden" value="" style="text-align: right; font-size: 1.2rem;"></input>
    </div>
</div>

<div class="row form-group align-items-center" style="background-color: #3d4e001e !important; margin-left: -1rem; margin-right: -1rem; font-size: 0.8rem; margin-top: -1rem; margin-bottom: 1rem;">
    <div class="col-6"></div>
    <div class="col-2-41"></div>
    <div class="col-1"></div>

    <div class="col-2 text-center">
        <label class="col-form-label field-required" style="font-size: .9rem; margin-top: 1rem; margin-bottom: -1rem;">
        Α Ξ Ι Α&nbsp;&nbsp;Κ Ρ Α Τ Η Σ Ε Ω Ν 
        </label>
    </div>
    </div>

    <div class="row form-group align-items-center" style="background-color: #3d4e001e !important; margin-left: -1rem; margin-right: -1rem; font-size: 0.8rem; margin-top: -1rem; margin-bottom: -0.5rem;">
    <div class="col-2-41 text-center">
        <label class="col-form-label field-required" style="font-size: .9rem; margin-top: -0.7rem;">
        Κράτηση
        </label>
    </div>

    <div class="col-1 text-center">
        <label class="col-form-label field-required" style="font-size: .9rem; margin-top: -0.7rem;">
        Ασφαλ/κές Αποδοχές
        </label>
    </div>

    <div class="col-1 text-center">
        <label class="col-form-label field-required" style="font-size: .9rem; margin-top: -0.7rem;">
        <i class="bi bi-percent" style="font-size: 20px;"></i>Εργαζ/νου
        </label>
    </div>

    <div class="col-1 text-center">
        <label class="col-form-label field-required" style="font-size: .9rem; margin-top: -0.7rem;">
        <i class="bi bi-percent" style="font-size: 20px;"></i>Εργοδότη
        </label>
    </div>

    <div class="col-1 text-center">
        <label class="col-form-label field-required" style="font-size: .9rem; margin-top: -0.7rem;">
        Σύνολο <i class="bi bi-percent" style="font-size: 20px;"></i>
        </label>
    </div>

    <div class="col-1 text-center">
        <label class="col-form-label field-required" style="font-size: .9rem; margin-top: -0.7rem;">
        <i class="bi bi-currency-euro" style="font-size: 20px;"></i>Εργαζ/νου
        </label>
    </div>

    <div class="col-1 text-center">
        <label class="col-form-label field-required" style="font-size: .9rem; margin-top: -0.7rem;">
        <i class="bi bi-currency-euro" style="font-size: 20px;"></i>Εργοδότη
        </label>
    </div>

    <div class="col-1 text-center">
        <label class="col-form-label field-required" style="font-size: .9rem; margin-top: -0.7rem;">
        Σύνολο <i class="bi bi-currency-euro" style="font-size: 20px;"></i>
        </label>
    </div>

    <div class="col-1 text-center">
        <label class="col-form-label field-required" style="font-size: .9rem; margin-top: -0.7rem;">
        Εργαζ/νου
        </label>
    </div>

    <div class="col-1 text-center">
        <label class="col-form-label field-required" style="font-size: .9rem; margin-top: -0.7rem;">
        Εργοδότη
        </label>
    </div>
</div>

<div id="krathseisContainer">
<!-- Εδώ θα προστεθούν δυναμικά τα select κρατήσεις -->
</div>

<div class="row form-group align-items-center" style="margin-left: -1rem; margin-right: -1rem; margin-top: 1rem; font-size: 0.8rem;">
    <div class="col-3-48 left-align">
        <label class="col-form-label field-required" style="font-size: 1.1rem !important;">
        Σ Υ Ν Ο Λ Ο
        </label>
    </div>

    <div class="col-6"></div>

    <div class="col-1">
        <input type="text" class="form-control input-contents right-align clearAble" 
            name="synolo_axias_krathshs_ergazomenoy" 
            id="synolo_axias_krathshs_ergazomenoy" 
            value="" maxlength="9" style="background-color: #f5faae61;" tabIndex="-1" readonly />
    </div>
    
    <div class="col-1">
        <input type="text" class="form-control input-contents right-align clearAble" 
            name="synolo_axias_krathshs_ergodoth" 
            id="synolo_axias_krathshs_ergodoth" 
            value="" maxlength="9" style="background-color: #86cf5b30;" tabIndex="-1" readonly />
    </div>
</div>


<hr class="hr-style-1" style="margin-top: 0.7rem; margin-left: -1rem; margin-right: -1rem;" />

<div class="row form-group align-items-center" style="margin-left: -1rem; margin-right: -1rem; margin-top: -.5rem; font-size: 0.8rem;">
    <div class="col-3-48 left-align">
        <label class="col-form-label label-font-size" style="margin-top: -0.7rem;">
        Σύνολο Κρατήσεων Υπολογιζόμενων στον Φόρο
        </label>
    </div>

    <div class="col-6"></div>

    <div class="col-1">
        <input type="text" class="form-control input-contents right-align clearAble" 
            name="synolo_axias_krathshs_ergazomenoy_ypologizomenh_sto_foro" 
            id="synolo_axias_krathshs_ergazomenoy_ypologizomenh_sto_foro" 
            value="" maxlength="9" style="background-color: #f5faae61;" tabIndex="-1" readonly />
    </div>
    
    <div class="col-1">
        <input type="text" class="form-control input-contents right-align clearAble" 
            name="synolo_axias_krathshs_ergodoth_ypologizomenh_sto_foro" 
            id="synolo_axias_krathshs_ergodoth_ypologizomenh_sto_foro" 
            value="" maxlength="9" style="background-color: #86cf5b30;" tabIndex="-1" readonly />
    </div>
</div>

<div class="row form-group align-items-center" style="margin-left: -1rem; margin-right: -1rem;">
    <div class="col-3-48 left-align">
        <label class="col-form-label label-font-size">
        Σύνολο Κρατήσεων MH Υπολογιζόμενων στον Φόρο
        </label>
    </div>

    <div class="col-6"></div>

    <div class="col-1">
        <input type="text" class="form-control input-contents right-align clearAble" 
            name="synolo_axias_krathshs_ergazomenoy_mh_ypologizomenh_sto_foro" 
            id="synolo_axias_krathshs_ergazomenoy_mh_ypologizomenh_sto_foro" 
            value="" maxlength="9" style="background-color: #f5faae61;" tabIndex="-1" readonly />
    </div>
    
    <div class="col-1">
        <input type="text" class="form-control input-contents right-align clearAble" 
            name="synolo_axias_krathshs_ergodoth_mh_ypologizomenh_sto_foro" 
            id="synolo_axias_krathshs_ergodoth_mh_ypologizomenh_sto_foro" 
            value="" maxlength="9" style="background-color: #86cf5b30;" tabIndex="-1" readonly />
    </div>
</div>