<div class="row form-group align-items-center krathseis-apodoxes-row">
    <div class="col-2 left-align">
        <label for="asfalistikes_apodoxes" class="col-form-label label-font-size">
        Ασφαλιστικές Αποδοχές
        </label>
    </div>

    <div class="col-1-5">
        <input type="number" class="form-control1 input-contents no-spin krathseis-apodoxes-input" name="asfalistikes_apodoxes" id="asfalistikes_apodoxes" value=""></input>
    </div>
    <div class="col-1-5">
        <input type="number" class="form-control1 input-contents no-spin krathseis-apodoxes-input" name="asfalistikes_apodoxes_hidden" id="asfalistikes_apodoxes_hidden" value=""></input>
    </div>
</div>

<div class="row form-group align-items-center krathseis-band-row krathseis-band-title-row">
    <div class="col-6"></div>
    <div class="col-2-41"></div>
    <div class="col-1"></div>

    <div class="col-2 text-center">
        <label class="col-form-label field-required krathseis-band-title">
        Α Ξ Ι Α&nbsp;&nbsp;Κ Ρ Α Τ Η Σ Ε Ω Ν 
        </label>
    </div>
    </div>

    <div class="row form-group align-items-center krathseis-band-row krathseis-band-labels-row">
    <div class="col-2-41 text-center">
        <label class="col-form-label field-required krathseis-column-label">
        Κράτηση
        </label>
    </div>

    <div class="col-1 text-center">
        <label class="col-form-label field-required krathseis-column-label">
        Ασφαλ/κές Αποδοχές
        </label>
    </div>

    <div class="col-1 text-center">
        <label class="col-form-label field-required krathseis-column-label">
        <i class="bi bi-percent krathseis-column-icon"></i>Εργαζ/νου
        </label>
    </div>

    <div class="col-1 text-center">
        <label class="col-form-label field-required krathseis-column-label">
        <i class="bi bi-percent krathseis-column-icon"></i>Εργοδότη
        </label>
    </div>

    <div class="col-1 text-center">
        <label class="col-form-label field-required krathseis-column-label">
        Σύνολο <i class="bi bi-percent krathseis-column-icon"></i>
        </label>
    </div>

    <div class="col-1 text-center">
        <label class="col-form-label field-required krathseis-column-label">
        <i class="bi bi-currency-euro krathseis-column-icon"></i>Εργαζ/νου
        </label>
    </div>

    <div class="col-1 text-center">
        <label class="col-form-label field-required krathseis-column-label">
        <i class="bi bi-currency-euro krathseis-column-icon"></i>Εργοδότη
        </label>
    </div>

    <div class="col-1 text-center">
        <label class="col-form-label field-required krathseis-column-label">
        Σύνολο <i class="bi bi-currency-euro krathseis-column-icon"></i>
        </label>
    </div>

    <div class="col-1 text-center">
        <label class="col-form-label field-required krathseis-column-label">
        Εργαζ/νου
        </label>
    </div>

    <div class="col-1 text-center">
        <label class="col-form-label field-required krathseis-column-label">
        Εργοδότη
        </label>
    </div>
</div>

<div id="krathseisContainer">
<!-- Εδώ θα προστεθούν δυναμικά τα select κρατήσεις -->
</div>

<div class="row form-group align-items-center krathseis-total-row">
    <div class="col-3-48 left-align">
        <label class="col-form-label field-required krathseis-total-label">
        Σ Υ Ν Ο Λ Ο
        </label>
    </div>

    <div class="col-6"></div>

    <div class="col-1">
        <input type="text" class="form-control input-contents right-align clearAble krathseis-total-employee-input" 
            name="synolo_axias_krathshs_ergazomenoy" 
            id="synolo_axias_krathshs_ergazomenoy" 
            value="" maxlength="9" tabIndex="-1" readonly />
    </div>
    
    <div class="col-1">
        <input type="text" class="form-control input-contents right-align clearAble krathseis-total-employer-input" 
            name="synolo_axias_krathshs_ergodoth" 
            id="synolo_axias_krathshs_ergodoth" 
            value="" maxlength="9" tabIndex="-1" readonly />
    </div>
</div>


<hr class="hr-style-1 krathseis-body-separator" />

<div class="row form-group align-items-center krathseis-tax-row">
    <div class="col-3-48 left-align">
        <label class="col-form-label label-font-size krathseis-tax-label">
        Σύνολο Κρατήσεων Υπολογιζόμενων στον Φόρο
        </label>
    </div>

    <div class="col-6"></div>

    <div class="col-1">
        <input type="text" class="form-control input-contents right-align clearAble krathseis-total-employee-input" 
            name="synolo_axias_krathshs_ergazomenoy_ypologizomenh_sto_foro" 
            id="synolo_axias_krathshs_ergazomenoy_ypologizomenh_sto_foro" 
            value="" maxlength="9" tabIndex="-1" readonly />
    </div>
    
    <div class="col-1">
        <input type="text" class="form-control input-contents right-align clearAble krathseis-total-employer-input" 
            name="synolo_axias_krathshs_ergodoth_ypologizomenh_sto_foro" 
            id="synolo_axias_krathshs_ergodoth_ypologizomenh_sto_foro" 
            value="" maxlength="9" tabIndex="-1" readonly />
    </div>
</div>

<div class="row form-group align-items-center krathseis-tax-summary-row">
    <div class="col-3-48 left-align">
        <label class="col-form-label label-font-size">
        Σύνολο Κρατήσεων MH Υπολογιζόμενων στον Φόρο
        </label>
    </div>

    <div class="col-6"></div>

    <div class="col-1">
        <input type="text" class="form-control input-contents right-align clearAble krathseis-total-employee-input" 
            name="synolo_axias_krathshs_ergazomenoy_mh_ypologizomenh_sto_foro" 
            id="synolo_axias_krathshs_ergazomenoy_mh_ypologizomenh_sto_foro" 
            value="" maxlength="9" tabIndex="-1" readonly />
    </div>
    
    <div class="col-1">
        <input type="text" class="form-control input-contents right-align clearAble krathseis-total-employer-input" 
            name="synolo_axias_krathshs_ergodoth_mh_ypologizomenh_sto_foro" 
            id="synolo_axias_krathshs_ergodoth_mh_ypologizomenh_sto_foro" 
            value="" maxlength="9" tabIndex="-1" readonly />
    </div>
</div>
