<div class="card-header mb-2">
  <label class="text-center headers-content">
    Α π α σ χ ο λ ή σ ε ι ς
  </label>
</div>

<div class="row form-group g-3 align-items-center krathseis-header-row">
  <div class="col-1 right-align">
    <label class="col-form-label label-font-size krathseis-header-label">
      Υποκατάστημα
    </label>
  </div>
  <div class="col-3">
    <label class="label-control-no-border left-align headers-input-content krathseis-header-value" id="ypokatasthmaLabel_Krathseis">&nbsp;</label>
  </div>

  <div class="col-1 right-align">
    <label class="col-form-label label-font-size krathseis-header-label">
      Εργαζόμενος
    </label>
  </div>
  <div class="col-7">
    <label class="label-control-no-border left-align headers-input-content krathseis-header-value" id="ergazomenosLabel_Krathseis">&nbsp;</label>
  </div>
</div>

<hr class="hr-style-1 krathseis-header-separator" />
