<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive" style="background-color: #3d4e001e !important; font-size: 1vw; font-weight: 700; color: #525114">
      Δ.ΥΠ.Α.
    </button>
  </h2>
  <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show">
    <div class="accordion-body">
      <input type="hidden" name="kodikos_programmatos_dypa" id="kodikos_programmatos_dypa" />

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="epidoma_anergias" class="col-form-label label-font-size">
            Λήψη Επιδόματος Ανεργίας
          </label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
          <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="epidoma_anergias" name="epidoma_anergias" value="" />
          <label for="epidoma_anergias" id="label-epidoma_anergias" style="margin-left: 0.75rem; font-size: 0.875vw;">
            ΟΧΙ
          </label>
        </div>
        
        <div class="col-3"></div>

        <div class="col-2 left-align">
          <label for="dypa" class="col-form-label label-font-size">
            Υπηρεσία Δ.ΥΠ.Α.
          </label>
        </div>
        <div class="col-3-99">
          <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="dypa" id="dypa">
          </select>
        </div>
      </div>

      <hr class="hr-style" />

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="arithmos_deltioy_anergias" class="col-form-label label-font-size">
            Αριθμός Δελτίου Ανεργίας
          </label>
        </div>
        <div class="col-2">
          <input type="text" name="arithmos_deltioy_anergias" id="arithmos_deltioy_anergias" class="form-control input-contents" value="" />
        </div>

        <div class="col-2"></div>

        <div class="col-2 left-align">
          <label for="systatiko_shmeioma" class="col-form-label label-font-size">
            Τοποθέτηση με Συστατικό Σημείωμα
          </label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
          <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="systatiko_shmeioma" name="systatiko_shmeioma" value="" />
          <label for="systatiko_shmeioma" id="label-systatiko_shmeioma" style="margin-left: 0.75rem; font-size: 0.875vw;">
            ΟΧΙ
          </label>
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="programma_dypa" class="col-form-label label-font-size">
            Πρόγραμμα Δ.ΥΠ.Α.
          </label>
        </div>
        <div class="col-9-5">
          <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="programma_dypa" id="programma_dypa">
          </select>
        </div>
        <a 
          id="gotoProgrammaDypa"
          href="" 
          target="_blank"
          role="button" 
          data-bs-toggle="tooltip" title="Μετάβαση στη σελίδα του προγράμματος" data-bs-placement="bottom" style="font-size: 0.8vw;"
          class="btn rounded-4 mt-2 col-0-3" style="border: 0;">
          <i class="bi bi-send" style="color: #004600; margin-left: -0.4rem;"></i> 
        </a>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="egkritikh_apofash_dypa" class="col-form-label label-font-size">
            Εγκριτική Απόφαση Δ.ΥΠ.Α.
          </label>
        </div>
        <div class="col-4">
          <input type="text" name="egkritikh_apofash_dypa" id="egkritikh_apofash_dypa" class="form-control input-contents" value="" />
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="hmeromhnia_enarxhs_programmatos" class="col-form-label label-font-size">
            Ημ/νία Έναρξης Προγ/ματος
          </label>
        </div>
        <div class="col-1-5">
          <input type="date" name="hmeromhnia_enarxhs_programmatos" id="hmeromhnia_enarxhs_programmatos" class="date-control" value="" />
        </div>

        <div class="col-2-5"></div>

        <div class="col-2 left-align">
          <label for="hmeromhnia_lhxhs_programmatos" class="col-form-label label-font-size">
            Ημ/νία Λήξης Προγράμματος
          </label>
        </div>
        <div class="col-1-5">
          <input type="date" name="hmeromhnia_lhxhs_programmatos" id="hmeromhnia_lhxhs_programmatos" class="date-control" value="" />
        </div>
      </div>

      <hr class="hr-style" />

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="antikatastash_ergazomenoy" class="col-form-label label-font-size field-required mt-1">
            Η Τοποθέτηση Αφορά ΑΝΤΙΚΑΤΑΣΤΑΣΗ Ωφελούμενου του Ιδίου Προγράμματος
          </label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
          <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="antikatastash_ergazomenoy" name="antikatastash_ergazomenoy" value="" />
          <label for="antikatastash_ergazomenoy" id="label-antikatastash_ergazomenoy" style="margin-left: 0.75rem; font-size: 0.875vw;">
            ΟΧΙ
          </label>
        </div>

        <div class="col-3"></div>

        <div class="col-2 left-align">
          <label for="afm_antikatastath" class="col-form-label label-font-size" style="color: #000000; margin-top: -1.8rem;">
            ΑΦΜ Εργαζόμενου που Αντικαταστάθηκε
          </label>
        </div>
        <div class="col-1-5">
          <input type="text" name="afm_antikatastath" id="afm_antikatastath" class="form-control input-contents" style="margin-top: -1.8rem;" value="" maxlength="9" pattern="[0-9]{1,}" />
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-6"></div>

        <div class="col-2 left-align" style="margin-top: -1rem;">
          <label for="amka_antikatastath" class="col-form-label label-font-size" style="color: #000000;">
            ΑΜΚΑ Εργαζόμενου που Αντικαταστάθηκε
          </label>
        </div>
        <div class="col-1-5">
          <input type="text" name="amka_antikatastath" id="amka_antikatastath" class="form-control input-contents amka-input" value="" maxlength="11" pattern="[0-9]{1,}" style="margin-top: -2rem;" />
        </div>
      </div>

      <hr class="hr-style" />
    </div>
  </div>
</div>
